
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Seller Dashboard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


  	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  	<style type="text/css">
  		.nav-items{
  			font-size: 20px;
  		}
  		.nav-items:hover{
  			background-color: rgb(210, 230, 173);
  			color: white;
  			border-radius: 10px;
  		}
		.notification{
			cursor: pointer;
		}
  	</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 bg-white shadow">
				<div class="head_details col-lg-12 d-flex justify-content-between">
					<div class="Company_name">
						<h2 class="mt-2 mb-2" style="color: black;">MedStore</h2>
					</div>
					<div class="username_details col-lg-2 col-md-12  d-flex justify-content-between">
						<div class="notification m-2">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
  								<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
							</svg>
						</div>
						<div class="username">
							<p class="m-2"><%= email %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="height: 100vh;">
			<div class="side-bar col-lg-2 col-md-3 col-12 bg-primary shadow">
				<div class="nav-link mt-1">
					<ul class="navbar-nav" id="nav">
						<li class="nav-items">
							<a href="index" class="sidebar-link nav-link ml-3 text-white">Add Medicine</a>
						</li>
						<li class="nav-items ">
							<a href="view" class="sidebar-link nav-link ml-3 text-white">View Medicine</a>
						</li>
						<li class="nav-items">
              				<form action="/logout" method="POST">
                  				<button type="submit" class="btn sidebar-link nav-link ml-3 text-white" style="font-size: 21px;">Logout</button>
              				</form>
          				</li>
					</ul>
				</div>
			</div>
		<div class="col-lg-10 col-md-9 col-12" >
        <div class="card mt-5">
          <div class="card-body shadow">
              <h5 class="card-title text-center">Add Medicine</h5>
              <% if (error) { %>
                <div style="color: red; font-weight: bold;">
                  <%= error %>
                </div>
              <% } %>
              <form action="/addmedicine" method="POST" class="">
                  <div class="mb-3">
                      <label for="name" class="form-label">Medicine Name</label>
                      <input type="text" class="form-control" id="name" name="name" required>
                  </div>
                  <div class="mb-3">
                      <label for="password" class="form-label">Medicine Price</label>
                      <input type="number" class="form-control" id="price" name="price" required>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Medicine Stock</label>
                    <input type="number" class="form-control" id="stock" name="stock" required>
                  </div>
                  <button type="submit" class="btn btn-primary w-100">Add Medicine</button>
              </form>
          </div>
      </div>
			</div>
		</div>
	</div>
</body>
</html>